.footer {
    padding: map-get($padding, general );
    background-color: #353535;
    color: $color-text;
    &__titre {
        margin-block-start: 0;
    }
    &__lien {
        @include alignement (row);
        justify-content: space-around;
        @include responsive (mobile){
        flex-direction: column;
        }
        a {
            color: $color-text;
            @include responsive (mobile) {
                margin: 0.3rem;
            }
            > i {
                padding-right: 1rem;
            }
        }
    }
}