.header {
    &__logo {
        padding: map-get($padding, general );
        @include alignement (row);
        justify-content: space-between;
        &__image{
            height: 2rem;
            object-fit: cover;
        }
    }
    &__titre{
        height: 400px;
        width: 100%;
        text-align: center;
        background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-size: cover;
        background-position: 50% 80%;
        background-repeat: no-repeat;
        &__nom{
            border-radius: 5rem 5rem 0 0;
            font-family: "Shrikhand";
            font-size: 3rem;
            height: 160px;
            position: relative;
            top: 60%;
            background-color: white;
            > p {
                position: relative;
                top: 50%;
            }
            i {
                padding-left: 5rem;
            }
            
        }
    }
}