.section {
    background: $background-color;
    @include responsive (mobile) {
        padding: 1rem 0 2rem 0;
    }
    &__titre{
        display: none;
    }
    &-article{
        padding: 2rem;
        @include responsive (mobile){
            padding: 0.5rem;
        }
        &__titre {
            > h2 {
                @include under-title ($color-tertiary);
                font-size: 1.2rem;
                text-transform: uppercase;
                font-family: "Roboto";
                font-weight: normal;
            }
        }
        &__body {
            @include alignement (row);
            box-sizing: border-box;
            @include responsive (tablette){
                flex-wrap: wrap;
        }
            @include responsive (mobile){
                @include alignement (column);
                align-content: center;
            }
        }
    }
    &-button {
        text-align: center;
        padding: 0 0 2rem 0;
        @include responsive (mobile){
            padding-top: 1rem;
        }
    }
}
