@font-face {
  font-family: "Roboto";
  src: url(./Font/Roboto-light/Roboto-Light.ttf) format("truetype"), url(./Font/Roboto-light/roboto-light-webfont.eot) format("eot"), url(./Font/Roboto-light/roboto-light-webfont.svg) format("svg"), url(./Font/Roboto-light/roboto-light-webfont.woff) format("woff"), url(./Font/Roboto-light/Roboto-Light.otf) format("otf");
}
@font-face {
  font-family: "Roboto bold";
  src: url(./Font/Roboto-BoldCondensed/Roboto-BoldCondensed.ttf) format("truetype"), url(./Font/Roboto-BoldCondensed/roboto-boldcondensed-webfont.eot) format("eot"), url(./Font/Roboto-BoldCondensed/roboto-boldcondensed-webfont.svg) format("svg"), url(./Font/Roboto-BoldCondensed/roboto-boldcondensed-webfont.woff) format("woff"), url(./Font/Roboto-BoldCondensed/Roboto-BoldCondensed.otf) format("otf");
}
@font-face {
  font-family: "Shrikhand";
  src: url(./Font/Shrikhand-Regular/Shrikhand-Regular.otf) format("otf"), url(./Font/Shrikhand-Regular/shrikhand-regular-webfont.eot) format("eot"), url(./Font/Shrikhand-Regular/shrikhand-regular-webfont.svg) format("svg"), url(./Font/Shrikhand-Regular/shrikhand-regular-webfont.ttf) format("truetype"), url(./Font/Shrikhand-Regular/shrikhand-regular-webfont.woff) format("woff");
}
body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  font-family: "Roboto";
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  body {
    max-width: 600px;
  }
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  font-family: "Roboto bold";
}

h1 {
  font-size: 1.5rem;
}

.footer__titre {
  font-family: "Shrikhand";
}

.btn {
  height: 2.5rem;
  width: 12rem;
  font-weight: bold;
  border: none;
  border-radius: 5rem;
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  margin: auto;
  box-shadow: 0px 10px 14px -6px rgba(121, 121, 121, 0.5);
}

.carte {
  width: 300px;
  height: 220px;
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 10px 14px -6px rgba(121, 121, 121, 0.5);
  box-sizing: border-box;
}
.carte__image {
  box-sizing: border-box;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.carte__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: content-box;
  height: 57px;
  padding: 0 1rem 0 0.5rem;
}
.carte__description__nom {
  height: fit-content;
}
.carte__description__nom > span {
  font-weight: bolder;
}
.carte__description__coeur {
  height: 1rem;
  align-self: center;
}

.carte-nourriture {
  background-color: white;
  box-shadow: 0px 10px 14px -6px rgba(121, 121, 121, 0.5);
  width: 33%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .carte-nourriture {
    width: 39%;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .carte-nourriture {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
}
.carte-nourriture__titre {
  margin-block-start: 0px;
  font-size: 1.2rem;
}
.carte-nourriture__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carte-nourriture__description__phrase {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}
.carte-nourriture__description__prix {
  font-family: "Roboto bold";
}

.header__logo {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__logo {
    padding: 1.5rem;
    height: 5px;
  }
}
.header__logo__image {
  height: 2rem;
  object-fit: cover;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__logo__image {
    margin: auto;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__logo > a {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.header__titre {
  height: 400px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__titre {
    height: 300px;
  }
}
.header__titre__nom {
  border-radius: 5rem 5rem 0 0;
  font-size: 3rem;
  height: 160px;
  position: relative;
  top: 62%;
  background-color: #f6f6f6;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__titre__nom {
    height: 100px;
    font-size: 1.7rem;
    border-radius: 2rem 2rem 0 0;
    top: 80%;
  }
}
.header__titre__nom > div {
  font-family: "Shrikhand";
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__titre__nom > div {
    position: relative;
    top: 5%;
  }
}
.header__titre__nom i {
  padding-left: 5rem;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header__titre__nom i {
    padding-left: 2.5rem;
  }
}

#background--menu1 {
  background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) 50% 80% no-repeat;
  background-size: cover;
}

.section {
  background: #f6f6f6;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .section {
    padding: 1rem 0 2rem 0;
  }
}
.section-article {
  padding: 2rem;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .section-article {
    padding: 0.5rem;
  }
}
.section-article__titre > h2 {
  border-bottom: 2px solid #99E2D0;
  width: 2.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: normal;
}
.section-article__body {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .section-article__body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .section-article__body {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
.section-button {
  text-align: center;
  padding: 0 0 2rem 0;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .section-button {
    padding-top: 1rem;
  }
}

.footer {
  padding: 1rem;
  background-color: #353535;
  color: white;
}
.footer__titre {
  margin-block-start: 0;
}
.footer__lien {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .footer__lien {
    flex-direction: column;
  }
}
.footer__lien a {
  color: white;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .footer__lien a {
    margin: 0.3rem;
  }
}
.footer__lien a > i {
  padding-right: 1rem;
}

.accueil-header {
  height: 250px;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .accueil-header {
    height: 350px;
    width: 100%;
  }
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header-top {
    flex-direction: column;
    padding: 0;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header-top__logo {
    padding: 1rem;
    text-align: center;
  }
}
.header-top__saisie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 30%;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header-top__saisie {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
}
.header-top__saisie__label {
  line-height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
}
.header-top__saisie__input {
  background-color: #eaeaea;
  font-weight: bold;
  border: none;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 1rem;
}
.header-bottom__accroche {
  text-align: center;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header-bottom__accroche {
    padding: 1rem 3rem 1rem 3rem;
  }
}

.accueil-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 1rem;
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .accueil-nav {
    height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    grid-template-areas: "t t" "Na Nb" "Nc Nc";
    justify-items: center;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .accueil-nav {
    height: 350px;
    padding: 2rem 1rem 3rem 1rem;
    flex-direction: column;
  }
}
.accueil-nav__titre {
  font-weight: bolder;
  grid-area: t;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .accueil-nav__titre {
    margin-block-end: 0;
  }
}
.accueil-nav__lien {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 10px 14px -6px rgba(121, 121, 121, 0.5);
  height: 4rem;
  line-height: 2rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .accueil-nav__lien {
    text-align: start;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  }
}
.accueil-nav__lien:nth-child(2) {
  grid-area: Na;
}
.accueil-nav__lien:nth-child(3) {
  grid-area: Nb;
}
.accueil-nav__lien:nth-child(4) {
  grid-area: Nc;
}
.accueil-nav__lien__chiffre {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: auto;
  text-align: center;
  color: white;
  background-color: #9356DC;
  position: relative;
  right: 0.75rem;
}
.accueil-nav__lien__description {
  box-sizing: border-box;
  padding: 0 3rem 0 0.5rem;
  white-space: nowrap;
}
.accueil-nav__lien__description > i {
  padding-right: 1rem;
  opacity: 0.5;
}

.accueil-section {
  background-color: #f6f6f6;
  padding: 1rem;
  height: 320px;
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .accueil-section {
    height: 600px;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .accueil-section {
    height: 1100px;
  }
}
.accueil-section__cartes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .accueil-section__cartes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .accueil-section__cartes {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=pageCssOMF.css.map */
