.carte-nourriture {
    background-color: white;
    @include shadow;
    width: 33%;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    @include responsive (tablette){
        width: 39%;
    }
    @include responsive (mobile){
        width: 100%;
        margin: 1rem 0 1rem 0;
    }
    &__titre {
        margin-block-start: 0px;
        font-size: 1.2rem
    }
    &__description {
        @include alignement (row);
        justify-content: space-between;
        &__phrase{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 85%;
        }
        &__prix {
            font-family: "Roboto bold";            
        }
    }
}