
.heart{
   &--full{
    position: absolute;
    color: $color-secondary;
    top: 33.3%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    transition: 400ms 0s linear;
    &:hover{
        opacity: 1;
    }
   }
}