
.heart{
    position: relative;
   &-full{
    position: absolute;
    right: 0%;
    color: transparent;
    background: linear-gradient(174deg, $color-secondary 0%, $color-primary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    transition: 400ms 0s linear;
    &:hover{
        opacity: 1;
    }
    &--accueil{
        position: relative;
        color: transparent;
        background: linear-gradient(174deg, $color-secondary 0%, $color-primary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 0.8rem;
        opacity: 0;
        cursor: pointer;
        top: -110%;
        left: 10%;
        z-index: 10;
        transition: 400ms 0s linear;
        &:hover{
            opacity: 1;
        }
    }
   }
}