@font-face 
{ 
    font-family:"Roboto";
    src: url(/Font/Roboto-light/Roboto-Light.ttf) format("truetype"),
    url(/Font/Roboto-light/roboto-light-webfont.eot) format("eot"),
    url(/Font/Roboto-light/roboto-light-webfont.svg) format("svg"),
    url(/Font/Roboto-light/roboto-light-webfont.woff) format("woff"),
    url(/Font/Roboto-light/Roboto-Light.otf) format("otf");
}
@font-face
{
    font-family: "Roboto bold";
    src: url(./Font/Roboto-BoldCondensed/Roboto-BoldCondensed.ttf);
}
@font-face {
    font-family: "Shrikhand";
    src: url(./Font/Shrikhand-Regular/Shrikhand-Regular.otf);
}

body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    font-family: "Roboto bold";
}

.footer__titre {
    font-family:"Shrikhand" ;
}
