@font-face 
{
	font-family:"Roboto";
    src: url(./Font/Roboto-Light.ttf) format(truetype),
    url(./Font/Roboto-Light.otf) format(otf),
    url(./Font/Roboto-Light.eot) format(eot),
    url(./Font/Roboto-Light.woff) format(woff),
    url(./Font/Roboto-Light.svg) format(svg);
}
@font-face 
{
    font-family: "Roboto bold";
    src: url(./Font/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: "Shrikhand";
    src: url(./Font/Shrikhand-Regular.otf);
}

body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    font-family: "Roboto bold";
}

.footer__titre {
    font-family:"Shrikhand" ;
}
