$color-primary: #9356DC ;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;
$color-saisie : #eaeaea;
$color-text : white;
$background-color : #f6f6f6;

$border-radius_carte:1rem;

$height : (header:250px, nav:100px);
$padding : (general:1rem);
